{% extends "base.html" %}

{% block css %}
<style>
    .no{
        color: red;
    }
    .ok{
        color: green;
    }
</style>
{% endblock css %}
{% block content %}
    <div class="page-header">
        <h2><i class="fa fa-user"></i></i>Lista de Produtos</h2>
         
        {% if object_list %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Importado</th>
                        <th>NCM</th>
                        <th>Produto</th>
                        <th>Preço</th>
                        <th class="text-center">Estoque</th>
                        <th class="text-center">Estoque Minimo</th>
                    </tr>
                </thead>
                <tbody>
                    {% for object in object_list %}
                        <tr>
                            <td>
                                {% if object.importado %}
                                    <i class="fa fa-check-circle ok"></i>
                                {% else %}
                                    <i class="fa fa-minus-circle no"></i>
                                {% endif %}
                            </td>
                            <td>{{ object.ncm }}</td>
                            <td>{{ object.produto }}</td>
                            <td>R$ <span class="pull-ringth">{{ object.preco }}</span></td>
                            <td class="text-center">{{ object.estoque }}</td>
                            <td class="text-center">{{ object.estoque_minimo }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p class="alert alert.warning">Sem Itens na Lista!</p>
        {% endif %}

    </div>
    <style>
        body{
            margin-top: 80px;
        }
    </style>
{% endblock content %}